<style>
    #menu {
        list-style-type: square;
        color: lightgrey;
    }
    #menu li {
        border-bottom: solid 1px lightgrey;
        padding: 3px;
        color: lightgrey;
    }
    #menu a {
        color: #444;
        display:block;
        text-align:left;
    }
    #menu a:hover {
        background-color: lightgrey;
    }
</style>
<ul id="menu">
    <li><a href="https://stratigraphy.org/subcommission-ordovician/">Home</a></li>
    <li><a href="period">Ordovician Period</a></li>
    <li><a href="subcommission">Subcommission</a></li>
    <li><a href="news">Ordovician News</a></li>
    <li><a href="timescale">Timescale &amp; GSSPs</a></li>
    <li><a href="conferences">Conferences</a></li>
    <li><a href="links">Links &amp; Resources</a></li>
</ul>
    
    
    
    
    
    
    
    
    
    
    
    

